<table class="text-center table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dni</th>
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Fecha</th>
            <th>Provincia</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
    {% for alumno in alumnado %}
        <tr>
            <td class="alert-danger">{{ alumno.id }}</td>
            <td class="alert-info">{{ alumno.dni }}</td>
            <td class="alert-success">{{ alumno.nombre }}</td>
            <td class="alert-warning">{{ alumno.apellido1 }}</td>
            <td class="alert-success">{{ alumno.apellido2 }}</td>
            <td class="alert-info">{{ alumno.fecha | date('Y-m-d')}}</td>
            <td class="alert-danger">{{ alumno.pprovincia }}</td>
            <td class="alert-danger">
                <a href="{{ path('borrar', {'id':alumno.id})}}">
                    <img class="danger" src="{{ asset('build/trash.png') }}"/>
                </a>
            </td>
            
        </tr>
    {% endfor %}
    </tbody>

</table>